:root {
    --primary-color: #0a1118;
    --primary-color-hightlight: #233D54;
    --bs-body-bg: #FBF0F6;
    --bs-body-font-family: 'Montserrat', sans-serif;

}

/*TODO: change the color of link*/
a {
    color: var(--primary-color)
}

a:hover {
    color: var(--primary-color-hightlight)
}

@media (min-width: 544px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    .container-custom {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container-custom {
        width: 1340px;
    }
}


@media (min-width: 1600px) {
    .container-custom {
        width: 1520px;
    }
}


/*TODO: custom button*/

/*TODO: custom container*/
.container-custom {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

/*TODO: header*/
.header {
    z-index: 2;
    /*TODO: z-index ???*/
}

/*TODO: Flyout Navigation Bar*/
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 247, 231);
    z-index: 4;
    /*TODO: s the CSS property that controls the stacking order of overlapping elements on a page*/
    /*TODO: translating the navbar bellow the icons*/
}

.dropdown-nav__closeNavBtn {
    position: absolute;
    /*TODO: Relative positioning: The element creates its own coordinate axes, at a location offset from the viewport coordinate axis. It is Part of document flow but shifted.*/

    /*TODO: Absolute positioning: An element searches for the nearest available coordinate axes among its parent elements. The element is then positioned by specifying offsets from this coordinate axis. It is removed from document normal flow. */
    top: 20px;
    right: 16px;
    background-color: rgbA(255, 255, 255, 0.6);
}

.dropdown-nav__container {
    height: 100vh; /*TODO: -> stop the animation*/
    padding: 0 1rem;
}

.hero {
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;
    /*TODO: avoid scroll bar below!!!*/
}

@media (min-width: 1400px)

.hero__heading {
    font-size: 3.2rem;
}

.hero__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    /*TODO: Dich chuyen video can giua*/
    z-index: 0;
}

.hero__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0.5;
    z-index: 1;
}

.hero__content {
    z-index: 1;
}

.hero__content-width {
    max-width: 540px;
}

.hero__scroll-btn {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--bs-light)
}