:root {
    --primary-color: #0a1118;
    --primary-color-hightlight: #233D54;
    --bs-body-bg: #FBF0F6;
    --bs-body-font-family: 'Montserrat', sans-serif;

}

/*TODO: change the color of link*/
a {
    color: var(--primary-color)
}

a:hover {
    color: var(--primary-color-hightlight)
}

.header {
    z-index: 2;
    /*TODO: z-index ???*/
}

/*TODO: Flyout Navigation Bar*/
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 247, 231);
    z-index: 4;
    /*TODO: s the CSS property that controls the stacking order of overlapping elements on a page*/
    /*TODO: translating the navbar bellow the icons*/
}

.dropdown-nav__closeNavBtn {
    position: absolute;
    top: 20px;
    right: 16px;
    background-color: rgbA(255, 255, 255, 0.6);
}

.dropdown-nav__container {
    height: 100vh; /*TODO: -> stop the animation*/
    padding: 0 1rem;
}

.hero {
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;
    /*TODO: avoid scroll bar below!!!*/
}